<div class="container padding-top-bottom">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h3 class="text-left page-title">Create your profile</h3>

  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
