html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #EDEDED;
  font-family: helvetica, sans-serif;
  height: 100%;
  overflow: auto;
}

form {
  margin-bottom: 0px;
}

h4 {
  font-family: 'helvetica', sans-serif;
  font-size: large;
  letter-spacing: 2px;
  text-align: center;
}

td {
  color: #333333i;
}

ul {
  list-style-type: none;
}

.alert, .notice {
  text-align: center;
  padding-top: 20px;
}

.btn-back {
  padding: 10px;
}

.btn-cart {
  background-color: #EDEDED;
  font-family: helvetica, sans-serif;
  font-size: medium;
  font-style: #EFE3C6;
  letter-spacing: 2px;
  margin: 10px;
  text-align: center;
}

.btn-default,
.btn-primary {
  background-color: #333333;
  border-color: #333333;
  color: #EDEDED;
}

.btn-primary:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #333;
}

.btn-inline {
  display: flex;
}

.checkout-table {
  table-layout: fixed;
  width: 80%;
}

.checkout-tableheader {
  border: 2px solid #333333;
  padding: 5px;
  text-align: left;
}

.checkout-tableelement{
  border: 2px solid #333333;
  padding: 5px;
  text-align: left;
}

.jumbotron {
  background-color: #333333;
  background-position: 0% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;

  h1 {
    color: #EFE3C6;
    text-align: center;
  }
  p {
    color: #EFE3C6;
    padding-top: 40px;
    text-align: center;
  }
}

.navbar-default {
  background-color: #333333;
  border-color: #EFE3C6;
  margin-bottom: 0px;

 .navbar-brand {
   color: #EFE3C6;
   font-family: Helvetica, sans-serif;
   font-size: small;
   letter-spacing: 2px;
  }
}

.navbar-brand:hover {
  color: #4BBF6B !important;
}

.page-plant-show {
  color: #4BBF6B;
  text-align: left;
}

.page-title {
  font-family: 'Pacifico', cursive;
  font-size: 100px;
}

.panel-default {
  border: 0px solid #333333;
}

.panel-primary {
  border-color: #4BBF6B;

  .panel-heading {
    background-color: #4BBF6B;
    border-bottom-color: #333333;
    border-color: #4BBF6B;
  }
}

.panel-title {
  color: #333333;
}

.paragraph-intro {
  letter-spacing: 10px;
}

.product-description {
  font-size: 15px;
  text-align: left;
}

.searchbar {
  display: inline-flex;
  width: 100%;
}

.text-center {
  font-family: 'helvetica', sans-serif;
  font-size: x-large;
  letter-spacing: 2px;
  text-align: center;
}

.well {
  background-color: #EDEDED;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
