html {
    overflow: hidden;
    height: 100%;
}

body {
  background-color: #EDEDED;
  font-family: helvetica, sans-serif;
  height: 100%;
  overflow: auto;
}

a {
  color: #333333;
}

ul {
  list-style-type: none;
}

h4 {
  font-family: 'helvetica', sans-serif;
  text-align: center;
  letter-spacing: 2px;
  font-size: large;
}

.well {
  background-color: #EDEDED;
  border: 5px solid #red;
 }

.container {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #333333;
  border-color: #333333;
  color: #EDEDED;
}

.btn-default {
  background-color: #333333;
  border-color: #333333;
  color: #EDEDED;
}

.cartbutton {
  background-color: #EDEDED;
}

//navbar

.navbar-default {
  background-color: #333333;
  border-color: #EFE3C6;
  margin-bottom: 0px;

 .navbar-brand {
   color: #EFE3C6;
   font-family: Helvetica, sans-serif;
   letter-spacing: 2px;
   font-size: small;
  }
}

.jumbotron {
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #333333;

    h1 {
    text-align: center;
    color: #EFE3C6;
    }
    p {
     text-align: center;
     padding-top: 40px;
     color: #EFE3C6;
    }
}

.page-title {
  font-family: 'Pacifico', cursive;
  font-size: 100px;
}

.paragraph-intro {
  letter-spacing: 10px;
}

.text-center {
  font-family: 'helvetica', sans-serif;
  text-align: center;
  letter-spacing: 2px;
  font-size: x-large;
}

.panel-primary {
    border-color: #4BBF6B;

  .panel-heading {
    background-color: #4BBF6B;
    border-color: #4BBF6B;
  }
}

.notice {
  text-align: center;
  padding-top: 20px;
}

.alert {
  text-align: center;
  padding-top: 20px;
}

.show-plants {
  color: #4BBF6B;
  text-align: left;
}

.product-description {
  font-size: 15px;
  text-align: left;
}

.back-button {
  padding: 10px;
}

.inline-btn {
  display: flex;
}

.btn-cart {
  margin: 10px;
}

.cartbutton {
  text-align: center;
  font-style: #EFE3C6;
  font-family: helvetica, sans-serif;
  font-size: medium;
  letter-spacing: 2px;
  background-color: #EDEDED;
}

.checkout-tableheader {
  border: 2px solid #333333;
  padding: 5px;
  text-align: left;
}

.checkout-table {
  width: 80%;
  table-layout: fixed;
}

.checkout-tablerow {
}

.checkout-tableelement{
  border: 2px solid #333333;
  padding: 5px;
  text-align: left;
}

//charges/new table

.panel-default {
  border: 0px solid #333333;

}

.panel-heading {
  border-bottom-color: #333333;
}

.panel-title {
  color: #333333;
}

td {
  color: #333333i;
}

.btn-primary:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;

  }

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.searchbar {
  display: inline-flex;
  width: 100%;
}

form {
  margin-bottom: 0px;
}
