<div class="container text-center padding-top-bottom">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h3 class="text-center page-title">New Plant</h3>
  <br>

  <%= render "form" %>
</div>
